     <!-- Information on contact page  -->

<% if(title =="Contact"){%>
      <meta charset="utf-8">
      
    <div class="container" align="center">
     
        <h3 class="display-5">Find bellow my contact and social medias:</h3>

    </div>
        <p></p>
        <p align="center">
          My name: <b>Luiz Guilherme Mattos</b>
        </p>
        <article>
    <div class="contact" align="center">

          <!-- Icon class for contact and contact -->
        <div class="table">
            <tr></tr>
        <th><p><i class="fab fa-lg fa-instagram"></i> Instagram:<a href= "https://www.instagram.com/luizgsmattos/" target="_blank"> <b>@luizgsmattos </a></b></p></th>
        <p></p>
        <p><i class="fas fa-lg fa-at"></i> E-mail: <b>lgmattos93@hotmail.com </b></p> 
        <p></p>
        <p><i class="fab fa-lg fa-git"></i> Github: <a href= "https://github.com/dnklg" target="_blank"><b>https://github.com/dnklg</a></b></p> 
      
        <p><i class="fas fa-lg fa-mobile-alt"></i> Phone: <b>+005522999875389</b></p> 
        </div>
    </div>
        
         </article>

    <!-- Go back to home page link -->

    <div align="center">
      <p> If you would like to go back to home page, please click <a href="/home" color=;><b>HERE</b></a></p>
    </div>

      <% } %>
