
   <!-- Information about home page -->

<% if(title =="Home"){%>

    <div align="center" class="container">

        <h1><span>Welcome everyone!</span></h1>
       
     
    <div>
      <p class="display-5">This is my personal portfolio and here you will be able to find all sort of information by clicking on the nav bar or start by clicking here,
        <a href="/about" color=;>about me</a>, <a href="/contact">contact me</a>, <a href="/services">my services</a> and also <a href="/products">works</a> I have done.
      
     </p>
    </div>  
      <p> Fell free to navigate through the portfolio!</p>
</div>
      <% } %>


     