<!-- Information on products page -->

<% if(title =="Products"){%>


    <div class="container">
      <h2 class="display-5" align="center">List of Products:</h2>
    </div>
    <div>
      <article>
        <div class="contact" align="center">


          <!-- Icon class -->
        <li><i class="fab fa-lg fa-chrome"></i> <b>Web Portfolio</b></li>
        <p> On this project I had to think about the layout and creation of the information presented</p>
      
     
         </div>
      </article>
    </div>
      <% } %>
