<!-- Information on services page -->

<% if(title =="Services"){%>

<section class="portfolio">
    <div class="container">
          <div align="center" class="services">
        <h1> Here you can find my services:</h1>
 
            </div>

      <!-- All services i'm able to execute -->
      <p></p>
      <div align="center" class="box">
    <li>Simple web application, as an example, this portfolio. </li>
    <p></p>
    <li>Web development.</li>
    <p></p>
    <li>JavaScript.</li>
        </div>
    </div>
</section>
      <% } %>

<%- include ../partials/scripts_nav.ejs%>